<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
              <a class="btn btn-link" href="about.html">About Us</a>
                <a class="btn btn-link" href="contact.html">Contact Us</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            
            <li>
                <a class="btn btn-link" href="about.html"></a>
                <a class="btn btn-link" href="contact.html"></a>
            </li>
        </ul>
    </div>
</nav>
